<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 激活chrome frame内核插件 -->  
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>翔天世纪集团官网管理系统</title>
    <!-- <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_674196_89pa9pmfyd0cz0k9.css"> -->
  </head>
  <body>
    <!-- 富文本 -->
    <script src=<%= htmlWebpackPlugin.options.path %>/tinymce4.7.5/tinymce.min.js></script>
    
    <!-- 兼容IE引用的包 -->
    <script src=<%= htmlWebpackPlugin.options.path %>/iePhoto/jquery.js></script>
    <!-- 兼容IE引用的包 -->
    <script src=<%= htmlWebpackPlugin.options.path %>/iePhoto/jquery.webcam.min.js></script>
    <div id="app"></div>
  </body>
</html>
